@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

body{
	min-height: 100vh;
	overflow-x: hidden;
	background: 111111;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 30px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10000;
}

header .logo{
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

header ul{
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li{
	list-style: none;
	margin-left: 20px;
}

header ul li a{
	text-decoration: none;
	padding: 6px 15px;
	color: #fff;
	border-radius: 20px;

}

header ul li a:hover , .active{
	background: #fff;
	color: #2b1055;
}

section{
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

section::before{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
	background: linear-gradient(to top, #1e1e1e, transparent);
	z-index: 1000;
}

section img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}

section img#stars{
	mix-blend-mode: screen;
}


section img#crop_home{
	z-index: 8;
	width: auto;
	height: 100%;
	filter: opacity(85%);
}

#text{
	position: absolute;
	right: -700px;
	color: #fff;
	white-space: nowrap;
	font-size: 7.5vw;
	z-index: 9;
}


#btn{
	text-decoration: none;
	display: inline-block;
	padding-bottom: 8px 30px;
	border-radius: 40px;
	background: #fff;
	color: #2b1055;
	font-size: 1.5em;
	z-index: 9;
	transform: translateY(100px);
}

.sec{
	position: relative;
	padding: 100px;
	background: #1e1e1e;
}

.sec h2 {
    font-size: 3.5em;
    margin-bottom: 10px;
    color: #fff;
}

.sec p{
	font-size: 1.2em;
	margin-bottom: 10px;
	color: #fff;
}

.responsive {
  width: 100%;
  height: auto;
}

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #111;
	height: auto;
	width: 100vw;
	font-family: "Poppins";
	padding-top: 4px;
	color: #111;
}

.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
	color: #fff;
}

.footer-content h4{
	font-size: 1.2rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
	color: #fff;
}

.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
	color: #fff;
}

.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1px 0px 3px 0px;
}

.socials li{
	margin: 0 10px;
	width: 60%;
	height: 60%;
}

.socials ul{
	margin: 16px 0px 25px;
	bottom: 0;
}

.socials a{
	text-decoration: none;
	color: #fff;
}

.socials a i{
	font-size: 1.1rem;
	transition: color .4s ease;
}

.socials a:hover i{
	color: aqua;
}

.container{
	margin-top: 8%;
}

.inner{
	overflow: hidden;
}

.inner img{
	transition: all 1.5s ease;
}

.inner:hover img{
	transform: scale(1.5);
}
