@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display:=swap');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html
{
	scroll-behavior: smooth;
}

body
{
	background: #111;
	padding-bottom: 400px;
	overflow-x: hidden;
}

body:before
{
	content: 'Wearhadid';
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 16em;
	font-weight: 700;
	color: transparent;
	-webkit-text-stroke: 1px #555;
}

section
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
section h2
{
	margin-left: 200px;
	font-size: 4em;
	color: #fff;
	margin-bottom: 20px;
}

section .container
{
	position: relative;
	width: 1000px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	animation: slideIn 1.5s ease-in-out forwards;
}

section:nth-child(even) .container
{
	flex-direction: row-reverse;
}

section .container .imgBx
{
	position: relative;
	width: 800px;
	height: 400px;
	overflow: hidden;
	box-shadow: 0 25px 35px rgba(0,0,0,0.1); 
}

section .container .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

section .container .content
{
	position: absolute;
	right: 0;
	margin-top: 200px;
	margin-bottom: 40px;
	padding: 40px;
	background: #333;
	z-index: 1;
	max-width: 400px;
	color: #fff;
	box-shadow: 0 25px 35px rgba(0,0,0,0.1); 
	border-bottom: 6px solid #4ac7ff;

}

section:nth-child(even) .container .content
{
	left: 0;
}

.box2
{
	position: absolute;
	top: 80%;
	right: 10%;
	transform: translate(-50%,-50%);
}

.box2 span
{
	display: block;
	width: 20px;
	height: 20px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	transform: rotate(45deg);
	margin: -5px;
	animation: animate 2s infinite;
}

.box span:nth-child(1)
{
	animation-delay: -0.2s;
}
.box span:nth-child(2)
{
	animation-delay: -0.4s;
}
@keyframes animate
{
	0%
	{
		opacity: 0;
		transform: rotate(45deg) translate(-20px,-20px);
	}
	50%
	{
		opacity: 1;
	}
	100%
	{
		opacity: 0;
		transform: rotate(45deg) translate(20px,20px);
	}
}

#slider2 {
    position: relative;
    height: 1000px;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateY(0%); }
}
   
