*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 10vh 10%; */
	background: rgb(0,0,0);
}

.container
{
	width: 100%;
	height: 70vh;
	background: linear-gradient(to top right,rgba(64,62,62,0.8), rgba(171,171,171,0.4));
	border-radius: 30px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff; 
	box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
	z-index: 2;
	backdrop-filter: blur(3px);
	margin-bottom: 80px;
}

.circle1, .circle2
{
	position: absolute;
	width: 200px;
	height: 200px;
	background: linear-gradient(to top right,
	rgba(64,62,62,0.8),rgba(171,171,171,0.4));
	border-radius: 50%;
}

.circle1
{
	top: 2vh;
	right: 10vh;
}

.circle2
{
	bottom: 2vh;
	left: 10vh;
}

.container .text
{
	position: relative;
	color: #fff;
	margin: 100px 50px;
}

.container .text span 
{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}

.container .text h1
{
	font-size: 48px;
	font-weight: 900;
	text-transform: uppercase;
}

.container .text hr
{
	margin: 10px 0px;
	width: 300px;
	height: 5px;
	background: black;
	border: none;
}

.container .text p
{
	margin: 20px 0px 20px;
	width: 300px;
	font-weight: 500;
	font-size: 16px;
	font-family: sans-serif;
}

.container .text button
{
	padding: 7px;
	font-size: 20px;
	color: #fff;
	background: grey;
	border: none;
}

.container .text button:hover
{
	background: rgb(0,0,0);
}

.container .image2
{
	right: -400px;
	top: 180px;
	height: 620px;
	width: 600px;
	filter: drop-shadow(20px 5px 10px rgba(0,0,0,0.5));
	position: absolute;
	z-index: 3;
	animation: float 3s ease-in-out infinite;
}


@keyframes float {
	0% {
		transform: translate(60%, -55%);
	}
	50% {
		transform: translate(60%, -56%);
	}
	100% {
		transform: translate(60%, -55%);
	}
}