*
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.container2
{
	right: 0%;
	left: 0%;
	bottom: 0%;
	top: auto;
}

.hero
{
	height: 100vh;
	overflow-x: hidden;
}

.hero2
{
	width: 100%;
	height: 100% auto;
	background: #000;
	overflow: hidden;
}

.inner
{
	margin: 100px auto;
	width: 500px;
	height: 500px;
	background-image: url(img/images/Home/wh5.jpeg);
	background-size: cover;
	background-position: center;
	position: relative;
	box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.4);
	transform-style: preserve-3d;
}

.inner .h1
{
	width: 100px auto;
	text-align: center;
	font-size: 30px;
	color: #fff;
	border: 2px solid #fff;
	left: 50%;
    top: 85%;
	position: absolute;
	transform: translateX(-50%) translateY(-50%) translateZ(50px);
}

.hero2 .carousel2{
	width: 300px;
	margin: 100px auto 0;
	margin-top: auto;
	overflow: visible;
}

.carousel2 img{
	-webkit-box-reflect: below 20px linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.3));
}

.text-box
{
	font-size: 100px;
	font-family: sans-serif;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-right: 2px;
}

#span2
{
	display: inline-block;
	font-weight: bolder;
	animation: mover 3s linear infinite;
	color: #fff;
}

@keyframes mover
{
	0%{
		text-shadow: 0 0 30px rgba(0,0,0,0);
	}
	50%{
		text-shadow: 0 0 30px rgba(0,0,0,0.30);
		transform: translateY(30px);
	}
	100%{
		text-shadow: 0 0 30px rgba(0,0,0,0);
	}
}

#slider2 {
    position: relative;
    height: 100px;
	bottom: auto;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateY(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateY(0%); }
}
   

