
* 
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.hero3 
{
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6)),url(3.png);
	background-position: center;
	background-size: cover;
	margin-top: auto;

}

.btn3
{
	padding: 15px 60px;
	margin: 5px;
	font-size: 16px;
	letter-spacing: 1px;
	border: 2px solid #787777;
	color: #fff;
	cursor: pointer;
	background: linear-gradient(to right, transparent 50%, #787777 50%);
	background-size: 200%;
	background-position: left;
	transition: background-position 0.5s;
}

.btn3:hover
{
	background-position: right;
	color: #000;
}

.nav-links .btn 
{
	float: right;
	margin-left: 30px;
	margin-right: 60px;
	/*margin-top: 20px;*/
}

.banner-title
{
	margin: 80px 130px;
	margin-top: auto;
	padding-top: 20%;
	color: #b8b0b0;
}

.banner-title h1
{
	font-size: 35px;
	font-family: sans-serif;
	margin-bottom: 30px;
}

span
{
	color: #575757;
}

h2
{
	display: flex;
	margin-left: 2px;
	font-size: 5em;
	font-weight: 500;
	color: #000;
	letter-spacing: 5px;
	cursor: pointer;
}

h2 span
{
	transition: 0.5s;
}

h2:hover span:nth-child(1)
{
	margin-right: 10px;
}

h2:hover span:nth-child(1):after
{
	content: "";
}

h2:hover span:nth-child(2)
{
	margin-left: 40px;
}

h2:hover span
{
	color: #fff;
	text-shadow: 0 0 10px #fff,
				 0 0 20px #fff,
				 0 0 40px #fff,
				 0 0 80px #fff,
				 0 0 120px #fff,
				 0 0 140px #fff,
				 0 0 160px #fff,
				 0 0 180px #fff,
}